<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OCC_SIEE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <OCC_SIEE.Properties.Settings>
            <setting name="CurrentExtension" serializeAs="String">
                <value/>
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="ConfigureLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="CaptureLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="ClearSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSettings" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultValues" serializeAs="String">
                <value/>
            </setting>
            <setting name="PreferencesLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CaptuerSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConfigSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainRichTextColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="TestLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TestSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DefaultDocument" serializeAs="String">
                <value/>
            </setting>
            <setting name="GetPasswordLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OCCHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="OCCHostAccess" serializeAs="String">
                <value>19284/cc01/scpt/</value>
            </setting>
            <setting name="ReloadConfiguration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedConfigurationType" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="SavedConfiguration" serializeAs="String">
                <value/>
            </setting>
        </OCC_SIEE.Properties.Settings>
    </userSettings>
</configuration>
